.wraper {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
}

.bg-circle {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  position: absolute;
  
  z-index: 5;
}

.circle1{
  top: 4%;
    left: -1%;
}

.circle2{
  bottom: 30%;
  right: 0%;
}

.action-btn{
  font-size: 15px !important;
}


